@import "neat/neat";

@mixin footer-styling{
    background-color: #9f9ea3;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    padding: 20px;

  ul{
    list-style: none;
    padding: 0px;
  margin: 0px;
  }

  li{
    padding: 8px;
  }

  a{
    text-decoration: none;
    text-transform: uppercase;
    color: #333333;
  }
  a:hover{
    color: #016E90;
    text-decoration: none;
  }



  img{
    display: block;
    width: 180px;
    float: right;


  }



}

.links {

  @include outer-container;
$tablet: new-breakpoint(max-width 920px 3);
$mobile: new-breakpoint(max-width 600px 4);
  .list {
  @include span-columns(3);

  @include media ($tablet){
    @include span-columns (1);
  }
  @include media($mobile) {

@include span-columns(4);

}
  }
}


footer{

  @include footer-styling;
}
