@mixin footer-styling{
    background-color: #9f9ea3;
    overflow: hidden;
    height: 240px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    position: relative;


  ul{
    list-style: none;
  }

  li{
    padding: 8px;
  }

  a{
    text-decoration: none;
    text-transform: uppercase;
    color: #333333;
  }
  a:hover{
    color: #016E90;
    text-decoration: none;
  }

  .list { float: left;
    margin-top: 10px;
  }

  img{
    height: 60px;
    width: 180px;
  position: absolute;
  top: 160px;
  right: 40px;
  }



}

footer{
  @include footer-styling;
}
