@import "neat/neat";
@import "partials/searchbar";
@import "partials/header";
@import "partials/colors";
@import "partials/breadcrum";
@import "partials/page-view";
@import "partials/variables";
@import "partials/sidebar";
@import "partials/typography";



.itemlisting{
  @include outer-container;
margin: 0 auto;
$mobile: new-breakpoint(max-width 500px 4);
  .listing{
    @include span-columns (8);
    @include media($mobile) {
  @include span-columns(4);
  width: 300px;
  margin: 0 auto;

}

  }
  .map{
    @include span-columns(4);
    @include media($mobile) {
  @include span-columns(4);


}
  }


.item-header{
  @include span-columns(12) ;
  margin-left: 25px;
  text-transform: uppercase;
  margin-top: 60px;
  @include media($mobile) {
@include span-columns(4);

}
  .title-owner {
    @include span-columns(10 of 12);
    @include media($mobile) {
  @include span-columns(4);

  }
    h1{
      font-size: 25px;
      color: #333333;
    }
    h2 {
      font-size: 16px;
      font-weight: lighter;
    }
  }
  .price-date{
    @include span-columns( 2 of 12);
    @include media($mobile) {
  @include span-columns(4);
  font-size: 16px;


  }


    h1{
      font-size: 25px;

    }
    h2{
      font-size: 16px;
      color: #333333;
      font-weight: lighter;
    }
  }

}

.pictures{
  .mainpicture{
    @include span-columns(12);
    overflow: hidden;
    width: 100%;

    img{
      width: 100%;

    }
    @include media($mobile) {
    @include span-columns(4);
    width: 100%;

    }
  }

  .bottompictures{
    width: 100%;
    overflow: hidden;

 .picture-1 {
   @include span-columns(3 of 12);
   height: 120px;
   background-image: url("../images/tinypig1.jpeg");
   background-size: cover;
   width: 20%;
   margin-left: 20px;
    }

  .picture-2{
    @include span-columns (3 of 12);
      height: 120px;
      background-image: url("../images/tinypig2.jpeg");
      background-size: cover;
      width: 22.5%;
    }
 .picture-3{
   @include span-columns(3 of 12);
     height: 120px;
     background-image: url("../images/tinypig3.jpeg");
     background-size: cover;
     width: 22.5%;

    }
    .picture-4{
      @include span-columns(3 of 12);
      height: 120px;
      background-image: url("../images/tinypig4.jpeg");
      background-size: cover;
      width: 22.5%;
       }
         }
}


.textbox{
  @include span-columns (12 of 12) ;
  margin-left: 20px;
  margin-top: 30px;
  margin-bottom: 60px;
  font-size: 20px;
  @include media($mobile) {
@include span-columns(4);
font-size: 16px;


}

}

.map{
  text-align: center;
  @include media($mobile) {
@include span-columns(4);
margin: 0 auto;

}
  h3{
    font-size: 25px;
    text-transform: uppercase;
  }

.button-container{
  margin-top: 75px;
  margin-bottom: 20px;
  .button{
    background-color: #eeeeee;
    overflow: hidden;
    display: inline-block;
    padding: 10px;
    min-width: 50%;
    text-align: center;
    border: 2px solid #eeeeee;
    border-radius: 10px;



    .fa{
      float: left;
      font-size: 20px;
    }
    h2{
      float: left;
      margin: 0;
      margin-left: 10px;

    }
  }

}



}
}

.pagenav{

  .fa.fa-chevron-left, .fa.fa-chevron-right{
  border: 2px solid #eeeeee;
  padding: 5px;
  width: 75px;
  text-align: center;}

}

.pagenav{
  text-align: center;
  margin-top: 60px;
}
