@import "../neat/neat";

header {
  background-color: #402A72;
  height: 100px;
  overflow: hidden;
  img {
    height: 45px;
    color: white;
    margin-top: 27.5px;
    margin-left: 27.5px;
  }
  .header-icons {
    float: right;
    margin-right: 27.5px;
  }
}

main {
  .hero {
    background-image: url("../images/hero.jpg");
    background-size: cover;
    padding: 200px 0;
  }
  .hero div {
    margin: 0 auto;
    width: 600px;
  }
}

section {
  font-family: 'Roboto', sans-serif;
  .section-wrapper {
    max-width: 90%;
    margin: 0 auto;

  }

  .community img {
    height: 48px;
    position: relative;
    top: 60px;
    left: 30px;
  }
  .community h2 {
    background-color: #B8B7BC;
    width: 30%;
    text-align: center;
    padding: 20px 0;
    margin: 0;
    margin-right: 0;
  }
  .sub-cat {
    background-color: #F4F4F4;
    width: 30%;
    padding: 10px;
  }
  .sub-cat a {
    display: block;
    padding-left: 30px;
    font-size: 25px;
  }

  .discussions img {
    height: 48px;
    position: relative;
    top: 60px;
    left: 30px;
  }

  .discussions h2 {
    background-color: #B8B7BC;
    width: 30%;
    text-align: center;
    padding: 20px 0;
    margin: 0;
    margin-right: 0;
  }

  .events img {
    height: 48px;
    position: relative;
    top: 60px;
    left: 30px;
  }

  .events h2 {
    background-color: #B8B7BC;
    width: 30%;
    text-align: center;
    padding: 20px 0;
    margin: 0;
    margin-right: 0;
  }

  .for-sale img {
    height: 48px;
    position: relative;
    top: 60px;
    left: 30px;
  }

  .for-sale h2 {
    background-color: #B8B7BC;
    width: 30%;
    text-align: center;
    padding: 20px 0;
    margin: 0;
    margin-right: 0;
  }

  .jobs img {
    height: 48px;
    position: relative;
    top: 60px;
    left: 30px;
  }

  .jobs h2 {
    background-color: #B8B7BC;
    width: 30%;
    text-align: center;
    padding: 20px 0;
    margin: 0;
    margin-right: 0;
  }

  .services img {
    height: 48px;
    position: relative;
    top: 60px;
    left: 30px;
  }

  .services h2 {
    background-color: #B8B7BC;
    width: 30%;
    text-align: center;
    padding: 20px 0;
    margin: 0;
    margin-right: 0;
  }

  .gigs img {
    height: 48px;
    position: relative;
    top: 60px;
    left: 30px;
  }

  .gigs h2 {
    background-color: #B8B7BC;
    width: 30%;
    text-align: center;
    padding: 20px 0;
    margin: 0;
    margin-right: 0;
  }

  .housing img {
    height: 48px;
    position: relative;
    top: 60px;
    left: 30px;
  }

  .housing h2 {
    background-color: #B8B7BC;
    width: 30%;
    text-align: center;
    padding: 20px 0;
    margin: 0;
    margin-right: 0;
  }

}
